<nav id="navbar">
  <a class="logotype">Jackson Mostoller</a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/notes/">Open Notes</a></li>
  </ul>
</nav>