<nav id="navbar" class="cluster widen">
  <a class="logotype" href="/">mostol.dev</a>
  <ul class="cluster">
    <li><a href="/posts/">Posts</a></li>
    <li><a href="/topics/">Topics</a></li>
    <li><a href="/links/">Links</a></li>
  </ul>
</nav>