@font-face {
  font-family: "Fraunces";
  src: url('../fonts/Fraunces.woff2');
  font-display: optional;
}

@font-face {
  font-family: "Fraunces";
  src: url('../fonts/Fraunces-Italic.woff2');
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "Recursive";
  src: url('../fonts/Recursive-latin_basic.woff2');
  font-display: optional;
}

:root {
  --bg-basis: 100%;
  --txt-basis: 0%;
  --yellow: #ffbd16; /* hsl(50,100%,50%) ? */
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-basis: 12%;
    --txt-basis: 100%;
  }
}

@keyframes thicken {
  0% {
    font-weight: 100;
  }
  100% {
    font-wewight: 1000;
  }
}

nav#navbar {
  padding: 0.75em;
  text-align: end;
  font-size: 1rem;
  position: sticky;
  top: 0;
}

nav#navbar > a.logotype {
  all: unset;
  display: inline-block;
  font-size: 2.2rem;
  padding: 0;
  margin-top: 0.5em;
  font-variation-settings: "SOFT" 0, "opsz" 72, "WONK" 1;
  font-weight: 100;
  transition: font-weight 0.5s;
}
nav#navbar > a.logotype::after {
  all: unset;
}
nav#navbar > a.logotype:hover {
  font-weight: 500;

}

nav#navbar > ul {
  margin-top: 0;
  list-style-type: none;
}

body {
  margin: auto;
  max-width: 7in;
  background: hsl(0,0%,var(--bg-basis));
  color: hsla(0,0%,var(--txt-basis),0.8);
  font-family: "Fraunces", serif;
  font-variation-settings: "SOFT" 0, "opsz" 9, "WONK" 1;
  font-weight: 350;
  font-size: 1.25rem;
}

strong {
  font-weight: 550;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0.05em solid hsla(0,0%,var(--txt-basis),0.8);;
  transition: border 0.15s;
}

a.hidden {
  border-bottom: 0 solid transparent;
  transition: border 0.15s;
}

a:hover, a:focus {
  border-bottom: 0.15em solid var(--yellow);
}

main > h1,h2,h3,h4,h5,h6 {
  padding: 0 1rem;
  margin: 1rem 0;
  font-weight: 1000;
  
  line-height: 1;
  font-variation-settings: "opsz" 144, "WONK" 0, "SOFT" 0;
  animation: 0.75s thicken;
}

main > h1 {
  font-size: 4em;
}

div.cblock {
  border-left: 0.175rem solid var(--yellow);
  padding: 0 1rem;
  line-height: 1.65;
}

/* Code block styling */

pre {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: scroll;
  line-height: normal;
  background-color: hsla(0,0%,var(--txt-basis),0.1);
  padding: 1.5em 1em;
}

pre::after {
  content: attr(rel);
  position: absolute;
  top: 22px;
  right: 12px;
}

code {
  font-family: "Recursive", monospace;
  font-variation-settings: "MONO" 1;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 0;
}

/** Syntax highlighting **/
code > span.token.comment {
  font-weight: 300;
  font-variation-settings: "MONO" 1, "CASL" 1, "slnt" -15;
}


code > span.token.keyword {
  font-weight: 350;
  font-variation-settings: "MONO" 1, "slnt" -15;
}

code > span.token.function {
  font-weight: 750;
  font-variation-settings: "MONO" 1, "CASL" 1;
}

code > span.token.punctuation {
  font-weight: 300;
}